<template name="sidebarRight">
  <div class="ui right very thin red vertical sidebar menu">
    <a class="item">
        <i class="home icon"></i>
        home
    </a>
    <a class="active item">
      <i class="angle large left icon"></i>
      prev
    </a>
    <a class="item">
      <i class="angle large right icon"></i>
      next
    </a>
    <div class="item">
      <b>More</b>
      <!--
      <div class="menu">
        <a class="item">About</a>
        <a class="item">Contact Us</a>
      </div>
    -->
    </div>
  </div>
</template>
