<template name="accordion">
  <div class="ui fluid accordion">
    <div class="active title">
      <i class="dropdown icon"></i>
      Activating Event
    </div>
    <div class="active content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea placeholder="What is the stimulus that seemed to set off the particular mood I find myself in right now; i.e, when did these feelings start?"></textarea>
        </div>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Beliefs
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea placeholder="My (automatic) thoughts and mental images about A:"></textarea>
        </div>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Consequences
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea placeholder="How I felt or behaved after A occured:"></textarea>
        </div>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Disputation
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea placeholder="Is B at all distorted, exaggerated or unrealistic?:"></textarea>
        </div>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Energization
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea placeholder="Think of a positive message or commitment I can make to myself after having been through this process and been able to take a different perspective on the original event."></textarea>
        </div>
      </div>
    </div>
    <div class="title">
      <div class="ui buttons">
        <div class="ui button">Cancel</div>
        <div class="or"></div>
        <div class="ui positive button">Save</div>
      </div>
    </div>
  </div>
</template>
