<template name="accordion">
  <div class="ui accordion">
    <div class="active title">
      <i class="dropdown icon"></i>
      Activating Event
    </div>
    <div class="active content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea></textarea>
        </div>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Beliefs
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea></textarea>
        </div>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Consequences
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea></textarea>
        </div>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Disputation
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea></textarea>
        </div>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Energization
    </div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label></label>
          <textarea></textarea>
        </div>
      </div>
    </div>
  </div>
</template>
